.container{
	width:100%; 
	background-color:white;
	height:90px; 
	top:200px;
}
.primg{
	background-color:white;
	height:40px;
	padding:1%;
	width:40%;
	float:left;

}
.prdetails{
	background-color:white;
	height:40px;
	padding:1%;
	width:25%;
	float:left;
}
.prcost{
	background-color:white;
	height:40px;
	padding:1%;
	width:10%;
	float:left;



}