.container{
	width:100%; 
	background-color:white;
	height:90px; 
	top:200px;
}
.primg{
	background-color:white;
	height:40px;
	padding:1%;
	width:40%;
	float:left;

}
.prdetails{
	background-color:white;
	height:40px;
	padding:1%;
	width:25%;
	float:left;
}
.prcost{
	background-color:white;
	height:40px;
	padding:1%;
	width:10%;
	float:left;



}	
body{background-color:#473C8B;}
	
#clickers
	{text-align:center; 
	position:fixed;
    padding:0;
    margin:0;
    left:0;
    top:0;
    width: 100%;
    background:#cc6666;}	
	
#cart
	{position:relative;
	top:60px;
	z-index:-1;}
	

b{color:#473C8B;}